@font-face {
    font-family: twitch-shadow;
    src: url("https://cdn.rawgit.com/nawazishali/portfolio-version-two/05ba8748/fonts/dimitry.TTF");
}

body {
  background-image: url('./twitch-logo.png');
  background-size: 8px 8px;
  background-repeat: repeat;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 3em;
  font-family: twitch-shadow;
  color: white;
}

.App-subtitle {
  font-family: twitch-shadow;
  color: white;
  padding-right: 20px;
}


.live-stream {
  color: green;
  font-family: 'Press Start 2P';
}

.offline-stream {
  color: red;
  font-family: 'Press Start 2P';
}

.card {
  width: 23rem;
  background: rgba(255, 255, 255, .8);
  margin: 5px;
  border-color: black;
  border-style: solid;  
}

.card-title {
  margin: 10px;
}

.card:hover {
  background: rgba(255, 255, 255, 1);
}

.img-fluid {
  max-width: 320px;
  max-height: 180px;
}

.status-title {
  font-family: 'twitch-shadow';
  color: white;  
}

#primary-nav {
  background: #9C57C4;
  margin-bottom: 10px;
}

.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}