@font-face {
  font-family: twitch-shadow;
  src: url("https://cdn.rawgit.com/nawazishali/portfolio-version-two/05ba8748/fonts/dimitry.TTF");
}

body {
  background-image: url('./twitch-logo.png');
  background-size: 8px 8px;
  background-repeat: repeat;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img:hover {
  -webkit-box-shadow: 0 11px 7px -7px #777;
  -moz-box-shadow: 0 11px 7px -7px #777;
  box-shadow: 0 11px 7px -7px #777;
}

img {
  margin: 10px 0px;
  max-width: 285px;
  max-height: 160px;
  transition: box-shadow .3s ease-in-out;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 3em;
  font-family: twitch-shadow;
  color: white;
}

.App-title:hover {
  color: #9C57C4;
  text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

.App-subtitle {
  font-family: twitch-shadow;
  color: white;
  background-color: transparent;
  margin-right: 20px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.App-subtitle:hover {
  cursor: pointer;
  color: #9C57C4;
  background-color: white;
}

.card {
  width: 21rem;
  background: rgba(255, 255, 255, .8);
  margin: 5px;
  transition: .4s ease-in-out;
}

.card-body {
  flex-flow: column;
  padding: 10px;
}

h6.card-img-overlay {
  pointer-events:none;
  text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.card-text {
  font-family: 'Source Code Pro', monospace;
}

.card:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 11px 7px -7px #777;
  -moz-box-shadow: 0 11px 7px -7px #777;
  box-shadow: 0 11px 7px -7px #777;
  border: 2px #9C57C4 solid;
  transition: .4s;
}

.live-stream {
  color: green;
  font-family: 'Press Start 2P';
}

.navbar-nav{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.offline-stream {
  color: red;
  font-family: 'Press Start 2P';
}

#primary-nav {
  background: #9C57C4;
  margin-bottom: 10px;
}